@font-face{
 font-family:'CursedTimerUlil-Aznm';
 src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    margin: 0;
    background-color: midnightblue;
    font-family: 'CursedTimerUlil-Aznm';
}

button {
    cursor: pointer;
    font-family: 'CursedTimerUlil-Aznm';
}

.container {
    display: flex;
    justify-content: space-around;
}

.sub-container {
    display: block;
    justify-content: center;
    text-align: center;
}

.score-btn {
    background-color: darkslategrey;
    color: lightgray;
    border-radius: 4px;
    padding: 2px;
    border-color: lightgray;
    border-width: 2px;
    margin: 0px;
    font-size: 12px;
}

.score {
    color: red;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.team {
    color: white;
    justify-content: center;
    text-align: center;
}

.timer-container{
    vertical-align: middle;
    justify-content: center;
    color: white;
    margin-top: 80px;
    text-align: center;
}

.status{
    color:white;
    padding: 15px;
    text-align: center;
    white-space: pre-line;
}

.timer-btn{
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
}

#start-btn{
    background-color: darkgreen;
}

#reset-btn{
    background-color: darkblue;
}

#timer{
    margin: 5px;
}